@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-medium;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg font-medium;
  }
  h6 {
    @apply text-base font-medium;
  }
}

@layer components {

}

.dark .datatable-wrapper .datatable-table thead {
    color: #fff;
    background-color: #4b5563;
}

.datatable-wrapper .datatable-table thead {
    color: #fff;
    background-color: #4b5563;
}

@media print {
    @page {
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        height: 100vh;
    }
}

